body {
    background-image: url('../images/lala.jpg');
    background-size: cover;      
    background-repeat: no-repeat;
    background-position: center;
    
}
.mon-titre {
    color: rgb(6, 6, 6); 
    background-color: skyblue;
    border-radius: 50px;
    padding: 10px; 
    text-align: center; 
   
}
.form-block {
    max-width: 400px;
    margin: 50px auto;
    padding: 45px;
    background-color: rgba(135, 206, 235, 0.7); /* skyblue transparent */
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.items1{
    align-items: center;
    margin-bottom: 15px;
}

.custom-table tbody tr {
    background-color: #f0f8ff; /* bleu ciel léger */
    border-radius: 8px;
    margin-bottom: 10px;
    border-bottom: 10px solid white; /* espace entre les lignes */
}

.custom-table td, .custom-table th {
    padding: 15px;
    vertical-align: middle;
}

.custom-table {
    border-collapse: separate;
    border-spacing: 0 10px; /* espace vertical entre les lignes */
}
